/******************** General ********************/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-a-hover: #deebff;
  --grey: #d9d9d9;
}

.fa-color {
  color: var(--main-color);
}

.fa-location-dot {
  color: black;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

h1 {
  font-size: 1.37em;
  font-weight: 700;
}

h2 {
  font-size: 1.12em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}

p {
  font-size: 1em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  border: none;
}

/******************** header ********************/

header .logo {
  width: 61.9px;
  height: 19px;
  margin: 30px;
}

header .navbar {
  display: flex;
  gap: 68px;
  margin: 0 25px;
  font-size: 16px;
}

header .navbar .navbar-link {
  display: inline-block;
  padding-top: 16px;
}

header .navbar .navbar-link:hover,
header .navbar .navbar-link:focus {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
  padding-top: 14px;
}

/******************** SECTION DE RECHERCHE ********************/

.recherche-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.recherche-section h1 {
  margin-bottom: 8px;
}

.recherche-section .recherche-form {
  display: flex;
  height: 49px;
  width: 450px;
  position: relative;
  margin-top: 35px;
}

.recherche-section .recherche-form .localisation-icone {
  display: flex;
  background-color: var(--grey);
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.recherche-section .recherche-form .recherche-input {
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 2px solid var(--main-bg-color);
  padding-left: 60px;
  padding-right: 155px;
  font-size: 1.2em;
  font-weight: bold;
}

.recherche-section .recherche-form .recherche-input::placeholder {
  opacity: 0.4;
}

.recherche-section .recherche-form .recherche-input:focus {
  outline: 1px solid var(--main-color);
}

.recherche-section .recherche-form .recherche-submit {
  position: absolute;
  background-color: var(--main-color);
  right: 0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.recherche-section .recherche-form .recherche-submit:hover{
    background-color: var(--grey);
    color: var(--main-color);
}

.submit-smartphone {
  display: none;
}

/******************** SECTION FILTRES ********************/

.section-filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.section-filtres h2 {
  margin-right: 15px;
}

.section-filtres ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.section-filtres .filtres-liste {
  display: flex;
  align-items: center;
  border: 2px solid var(--grey);
  border-radius: 25px;
  height: 50px;
  padding: 4px 19px;
  transition: background-color 0.5s;
}

.section-filtres .filtres-liste:hover {
  background-color: var(--filter-bg-color);
}

.section-filtres .filtres-liste div {
  align-items: center;
  margin-right: 10px;
}

.section-filtres a {
  font-size: 1.1em;
  font-weight: 700;
}

/******************** SECTION INFORMATION ********************/

.section-information {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.section-information i {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey);
  border-radius: 50px;
  margin-right: 10px;
}

/******************** HEBERGEMENTS ET POPULAIRES ********************/

.hebergements-and-populaires {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  transition: filter 0.5s;
}

.card:hover {
  filter: drop-shadow(0px 3px 15px rgb(107, 107, 107));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******************** SECTION HEBERGEMENTS ********************/

.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  flex-wrap: wrap;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 33px;
  flex: 1;
}

.hebergements-cards .card img {
  width: 100%;
  height: 115px;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}

.hebergements .card-title {
  margin-top: 4px;
  margin-bottom: 8px;
}

.hebergements .card-subtitle {
  margin-bottom: 8px;
}

.hebergements .card-rating {
  margin-bottom: 15px;
}

.hebergements-more {
  padding-top: 30px;
}

/******************** SECTION POPULAIRE ********************/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards a {
  display: flex;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******************** SECTION ACTIVITES ********************/

.activites {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 30px;
}

.activites .activites-cards {
  margin-top: 35px;
  display: flex;
  gap: 30px;
}

.activites .activites-cards .cards-a {
  width: 24%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
  transition: filter 0.5s;
}

.activites .activites-cards .cards-a:hover {
  filter: drop-shadow(0px 3px 15px rgb(107, 107, 107));
}

.activites .activites-cards img {
  display: flex;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.activites .activites-cards .cards-a .cards-content {
  padding: 20px 19px;
}

/******************** SECTION FOOTER ********************/

footer {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    
}

footer section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    background-color: var(--main-bg-color);
    
}


footer div {
  
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

footer section div li {
    padding-bottom: 15px;
    font-size: 1em;
    font-weight: 400;
}
footer section div a {
    transition: color 0.5s, border-radius 0.9s;
}

footer section div a:hover {
    color: var(--main-color);
    padding: 5px;
    border: 1px solid #0065fc;
    border-radius: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
